<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="welcome" class="container">
      <!--Display Username after login thru ejs-->
      <h1>Welcome, <%= username %></h1>
      <h2>TO YOUR LOGGED IN PAGE!</h2>
    </div>
    <!--Leave a comment in Guestbook section-->
    <div id="commentInput">
      <form action="/guestbook" method="post">
        <input
          class="defaultInput"
          type="text"
          name="guest"
          placeholder="Ditt namn"
        />
        <input
          class="inputCommentText"
          type="text"
          name="message"
          placeholder="Lämna en kommentar"
        />
        <input class="submitBtn" type="submit" value="Skicka" />
      </form>
    </div>
    <div id="storedComments">
      <% comments.forEach(comment => { %>
      <p><%= comment.name %></p>
      <p><%= comment.message %></p>
      <% }); %>
    </div>
  </body>
</html>
